<h1>Đây là trang index của studentController </h1>
<form asp-action="index">
     <input type="text" name="StudentCode">
    <input type="text" name="fullName">
    <input type="text" name="Address">
    <input type="submit" value="Gửi">
</form>
<h1>@ViewBag.Message</h1>